* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.box {
    height: 200px;
    border: 1px solid navy;
    background-color: navy;
    color: whitesmoke;
    text-transform: uppercase;
    padding-top: 40px;
    padding-left: 20px;
}
.box > p{
    text-transform: lowercase;
    font-size: 30px;
    padding-top: 20px;
    text-decoration: underline;
}
.picture{
    position: absolute;
    top: 10px;
    left: 1040px;
}
.contact {
    font-weight: bolder;
    padding-left: 300px;
}
span{
    padding-left: 10px;  
}
blockquote > h2{
    background-color: black;
    color: whitesmoke;
    width:fit-content;
    height: 40px;
    padding-top: 10px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}
blockquote > p{
    margin-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
}
blockquote > h3{
    background-color: black;
    width: fit-content;
    height: 40px;
    color: whitesmoke;
    padding-top:10px ;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}
 ol{
    padding-left: 100px;
    margin-top: 20px;
}
blockquote > h4{
    background-color: black;
    width: fit-content;
    height: 40px;
    color: whitesmoke;
    padding-top:10px ;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}
 article {
    padding-left: 60px;
    margin-top: 20px;
    padding-right: 60px;
}
.career > h5{
    background-color: black;
    width: fit-content;
    height: 40px;
    color: whitesmoke;
    padding-top:10px ;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}
 .year{
    padding-left: 60px;
    margin-top: 20px;
    padding-right: 60px;
    font-weight: bolder;
}
p > span{
   padding-left: 50px; 
}
h6,details{
    padding-left: 50px;
    font-size: medium;
    margin-top: 20px;
    font-style: italic;
    font-weight: lighter;
}
.outline{
    padding-left: 60px;
    margin-top: 20px;
    padding-right: 60px;

}
